- set_doc_page_title @doc.title
= render :partial => 'sidebar'
#doc_main_content
  = render :partial => 'page_admin'
  %h1.doc-title=h @doc.title
  = render_doc_content @doc
  - unless @doc.children.empty?
    #sub_doc_links
      = render_li_hierarchy(@doc, true)
    